# dependencies
client/node_modules/
server/node_modules/

client/build/
server/public/*.wav
server/uploads/

.env
server/.env
client/.env

*.log
.DS_Store

client/package-lock.json
server/package-lock.json

api.txt
